/* Estilos específicos para laptops pequeñas  seccion Login*/
@media (max-width: 1366px) {
    /* Estilos específicos para laptops pequeñas */
    .containeracceso {
        width: 50%;
        margin: 0 auto; /* Centrar el contenedor */
      }
  
    }
  
  
    @media (min-width: 1367px) and (max-width: 1600px) {
         /* Estilos específicos para laptops medianas */
      .containeracceso{
          width: 47%;
          margin: 0 auto; 
        }
    
      }
      @media (min-width: 1601px) {
        /* Estilos específicos para laptops grandes */
        .containeracceso{
            width: 60%;
            margin: 0 auto; 
          }  
         }
  
  /* Estilos específicos para movil  seccion Login*/
  
         @media (max-width: 576px) {
          /* Estilos para pantallas pequeñas moviles */
          .containeracceso {
              width: 80%;
              max-width: 100%;
            }
        
        }
        @media (min-width: 577px) and (max-width: 768px) {
          /* Estilos para pantallas medianas moviles*/
          .containeracceso {
              width: 85%;
              max-width: 100%;
            }
        
        }
        @media (min-width: 769px) and (max-width: 992px) {
          /* Estilos para pantallas grandes moviles */
          .containeracceso{
              width: 64%;
              max-width: 100%;
            }
          
        }